.classOne{color:green;
    
    background-color:blue;
} 
.classTwo{background-color:blue}
.classThree{

    background-color: blueviolet;
    font-size: 23px;
height: 23px;
width: 45px;
}
/* .abc{

    color: red;
    font-size: 12px;
}
.myBtn{

    background-color:blue;
} */