<!-- <input  type="text"  #name >
<input  type="text"  #price >
<input  type="text"  #description >
<button (click)="addproduct(name.value,price.value,description.value)" >addProduct</button> -->
<!-- <app-attribute></app-attribute> -->
<!-- <app-first></app-first> -->
<!-- <app-ngtemplete></app-ngtemplete> -->
<!-- {{flag}}
<div *ngIf="flag==true">
   show content

</div> -->
<!-- <app-ngtemplete></app-ngtemplete> -->
<!-- <div > -->
<!-- <ul *ngFor="let sport of sports">
<li>{{sport}}</li>

</ul> -->

<!-- </div>
<app-viewchild></app-viewchild> -->
<app-login></app-login>