.classOne{color:yellow} 
.classTwo{background-color:blue}
.start{

    margin-top: -33rem;
    margin-left: 10rem;
}

.changColor{

    background-color: aqua;
}
.showplayers{

    
    margin-top: -35rem;
    margin-left: 5rem;

}