<!-- <input  type="text"  #name >
<input  type="text"  #price >
<input  type="text"  #description >
<button (click)="addproduct(name.value,price.value,description.value)" >addProduct</button> -->
<!-- <app-attribute></app-attribute> -->
<!-- <app-first></app-first> -->
<!-- <app-ngtemplete></app-ngtemplete> -->
<!-- {{flag}}
<div *ngIf="flag==true">
   show content

</div> -->
<!-- <app-ngtemplete></app-ngtemplete> -->
<!-- <div > -->
<!-- <ul *ngFor="let sport of sports">
<li>{{sport}}</li>

</ul> -->

<!-- </div>
<app-viewchild></app-viewchild> -->

<!-- <img src="assets/ipl.png" />
<div class="showplayers" *ngIf="show">
   <h1>Teams</h1>
   <div  *ngFor="let team of iplTeams" class="card" style="width: 18rem;">
      
      <div class="card-body">
        {{team.name}}
      </div>
    </div>

</div> -->
<!-- <button (click)="showTeams()">check Teams</button>
<div >
<p  [ngClass]="{classOne:cone,classTwo:ctwo,classTree:cThree}">
   Welcome to the Ipl 2021
  </p>
  <p [ngStyle]="{'background-color':color}">Choose your players</p>
</div> -->
<!-- <app-structrual></app-structrual> -->
<!-- <app-login></app-login> -->

<!-- <p [ngClass]="{changColor:colorvar}" class="changColor">Hello  how are you</p>
<p [ngStyle]="{'background-color':color}">Choose your players</p> -->
<!-- <ul>
   <li><a [routerLink] = "['/about']">About Us</a></li>
   <li><a [routerLink] = "['/contact']">Contact Us</a></li>
   <li><a [routerLink] = "['/home']">Home</a></li>
   <li><a [routerLink] = "['/teams']">Teams</a></li>
</ul>
<router-outlet></router-outlet> -->
<!-- <button>ok</button> -->
<!-- <ul>
   <li><a [routerLink] = "['/teams']">Teams</a></li>
   <li><a [routerLink] = "['/Trip']">Trip</a></li>
</ul>

<router-outlet></router-outlet>` -->
<!-- <app-product></app-product> -->
<!-- <app-product></app-product> -->
<app-myproduct></app-myproduct>
<router-outlet></router-outlet>