<!-- 
<div *ngFor="let product of products">
<mat-card class="example-card">
  <mat-card-header>
   
    <mat-card-title>{{product.name}}</mat-card-title>
    <mat-card-subtitle>{{product.price}}</mat-card-subtitle>
  </mat-card-header>
  
  
</mat-card>
<button (click)="sendProduct()">sendProduct</button>
</div>
 -->
 <!-- <div class ="container">
  <h2>User Data</h2>
  <form [formGroup]="userForm" (ngSubmit)="onSubmit()">
    <div class ="form-group">
      <label>Name</label>
      <input type="text"    class="form-control" formControlName="name" >
     <button>Submit</button>
    </div> -->
    <table style="width:100%">
      <tr>
        <th>Product Name</th>
        <th>Price</th>
        <th>description</th>
      </tr>
      <div *ngFor="let data of products">
      <tr>
        <td>{{data.name}}</td>
        <td>{{data.price}}</td>
        <td>{{data.description}}</td>
      </tr>
     
    </div>
    </table>
